html {background-color: dimgray;}
.container{
    overflow:hidden;
}
A {text-decoration: none;}
body {margin: 35px;}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.imageone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.imagetwo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.imagesqui {display: block;
  margin-left: auto;
  margin-right: auto;
    top: 25px;
    position: relative;
  width: 85%;}

.tableleft{
    float: left;
    width: 50%;
}
.imgtableleft{
    position: relative;
}
.tableright{
    float: right;
    width: 50%;
}
.tablelefttop{
    float: left;
    width: 50%;
}
.imgtableright{
    position: relative;
    left: 100px;
}
.tablerighttop{
    float: right;
    width: 50%;
}

h1, h2, h3, h4 {font-family: courier new;
    color: white;
}
h1 {font-size: 45px;}
h2 {font-size: 25px;
margin: 5px 35px;}
h4 {font-size: 20px;
margin: 5px 35px;}
h1 {text-align: center;}

table {font-family: courier new;
background-color: white;
line-height: }

.bioimages {margin-left: 10.5%;
margin-right: 10.5%}
.diettext {color: black;}
.taxonomytext {color:black;
}
p {font-family:Calibri;
color: white;
margin: 0px 35px;
line-height: normal;
font-size: 17px}
#habitat {border: solid 3px white;}
#navbar{
    /*overflow controls what happens to content that is too big to fit into an area*/
    overflow: hidden;
    background-color: white;
    position: fixed;
    text-align: center;
    top: 0;
    left:0;
    width: 100%;
    display: block;
    font-family: courier new;
    font-size: 20px;
    z-index: 1;
}
#navbar a{
    /*displaying the links as block elements makes the whole area clickable; inline-block common to display items horizontally*/
    display: inline-block; 
    padding: 14px;
    color: black;
 }

#navbar a:hover{
    background-color: lightgrey;
}
#navbar a:active{
    background-color: black;
    color: white;
}
img {align-content:center;}
footer {text-align:center;}